<div class="progress" id="progress"></div>

<!-- These are probably out dated so you might want to use newest versions -->
<script src="https://cdn.jsdelivr.net/gh/dropbox/zxcvbn@v1.0/zxcvbn.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kimmobrunfeldt/progressbar.js@0.5.6/dist/progressbar.js"></script>

<script src="application.js"></script>