<div class="container">
	<div class="jumbotron app center">
			<h1>Eligibility</h1>
			<p>Update your employer and loan details, and we'll verify your eligibility.</p>
			
			<%= render 'form' %>

	</div>
</div>

<%= link_to 'Back', profiles_path %>
