<div class="container">
	<div class="jumbotron app center">
			<h1>Eligibility</h1>
			<p>We’ll start by verifying your employer, then we’ll check your loan portfolio, to determine whether you may be eligible for PSLF.</p>
			
			<%= render 'form' %>
			<div class="pad20"></div>
			<%= link_to 'Back', profiles_path %>
	</div>
</div>

