<div class="container">
	<div class="jumbotron app center">
			<h1>Eligibility</h1>
			<p>We’ll start by verifying your employer, then we’ll check your loan portfolio, suggesting any necessary adjustments.</p>
			
			<%= render 'form' %>

	</div>
</div>

<%= link_to 'Back', profiles_path %>