<div class="container">
	<div class="jumbotron app center">
		<h4>Progress</h4>
		<div class="row bs-wizard" style="border-bottom:0;">
	    <div class="col-xs-2 col-xs-offset-3 bs-wizard-step active">
	      <div class="progress"><div class="progress-bar"></div></div>
	        <div class="bs-wizard-dot">
	          <span class="bs-wizard-step-num">1</span>
	          <div class="bs-wizard-info text-center">Eligibility</div>
	        </div>
	      </div>
	      <div class="col-xs-2 bs-wizard-step disabled"><!-- complete --> 
	        <div class="progress"><div class="progress-bar"></div></div>
	        <div class="bs-wizard-dot">
	          <span class="bs-wizard-step-num">2</span>
	        </div>
	        <div class="bs-wizard-info text-center">Forms</div>
	      </div>
	      <div class="col-xs-2 bs-wizard-step disabled"><!-- complete --> 
	        <div class="progress"><div class="progress-bar"></div></div>
	        <div class="bs-wizard-dot">
	          <span class="bs-wizard-step-num">3</span>
	          <div class="bs-wizard-info pull-right">Tracking</div>
	        </div>
	      </div>
	  	</div> 
	  	<div class="pad30"></div>
	  	<h1>Eligibility</h1>
			<p>We’ll start by verifying your employer and loan portfolio.</p>
			
			<%= render 'form' %>
			<div class="pad20"></div>
			<%= link_to 'Back', profiles_path %>
	  </div>     
	</div>
</div>

