<div class="container">
	<div class="jumbotron app center">
		<h1>Employment Verification Form</h1>
		<div class="pad40"></div>
		<div class="text-explanation-cert">
      <% if current_user.profile == nil %>
        <%= link_to "Add Eligibility Inputs", new_profile_path, class: "btn btn-primary btn-md" %>
      <% else %>
        <% if (current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'Government (fed, state, or local)' && current_user.profile.loans == "I don't know") || (current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'Not-for-profit (Section 501(c)(3))' && current_user.profile.loans == "I don't know") || (current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'AmeriCorps or Peace Corps' && current_user.profile.loans == "I don't know") || (current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == 'Federal student loans') || (current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == 'Both') || (current_user.profile.employment == 'Other qualifying public services' && current_user.profile.loans == "I don't know") %>
          <h2>"Congratulations! It looks like you may qualify for Public Service Loan Forgiveness!"</h2>
          <div class="pad20"></div> 
          <div class="media">
            <div class="media-left">
              <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-employment-certification-form.pdf", target= "_blank">
                <span class="glyphicon glyphicon-download-alt" alt="PSLF Employment Verification Form">
              </a>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Employment Verification Form</h3>
              <div class="text-explanation-profile"> Download the form to the left, fill out the portions you can, have your employer verify and sign the remaining sections, and once you're finished, upload the completed form and we'll file it with PHEAA (the federal agency that oversees PSLF). </div>
            </div>
          </div>
          <div class="pad60"></div>
          <%= render 'form' %>
        <% else %>
          <%= "Unfortunately, based on your Eligibility Inputs it seems like you may not be eligible for Public Service Loan Forgiveness at this time. You can review the requirements here." %>
        <% end %>
      <% end %>
    </div>
		<div class="pad10"></div>
		<%= link_to 'Edit my employment and loan information', edit_profile_path(current_user.profile) %>
	</div>
</div>

