<div class="jumbotron about">
	<div class="container">
	  <div class="text-center">
	  	<div class="pad40"></div>
	    <h1>About Public Service Loan Forgiveness (PSLF)</h1>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			<div class="pad20"></div>
	  	<div class="about-jumbo-text">
				<strong>Overview</strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">The Public Service Loan Forgiveness (PSLF) Program forgives the remaining balance on your Direct Loans after you have made 120 qualifying monthly payments under a qualifying repayment plan while working full-time for a qualifying employer.</div>
	  </div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
			<div class="pad30"></div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<div class="pad40"></div>
					<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				  <div class="landing-jumbo-text2 pad5">
				  	<strong>Helpful Forms</strong></h1>
				  </div>
				  <p>(click opens new tab)</p>
			    <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-employment-certification-form.pdf", target= "_blank">PSLF Employment Certification Form</a>
			  	</br>
			    <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-loan-forgiveness.pdf", target= "_blank">PSLF Program fact sheet</a>
			   	</br>
			    <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-loan-forgiveness-common-questions.pdf", target= "_blank">PSLF Program Q&As</a>
			  </div>
		  </div>
		</div>
	</div>
  <div class="pad30"></div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-12">
			<div class="pad20"></div>
	  	<div class="about-jumbo-text">
	  		<strong>Common Questions</strong>
	  	</div>
	  	<p>(click jumps to answer on page)</p>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	<li><a href="#1">What is qualifying employment?</a></li>
				<li><a href="#2">What is considered full-time employment?</a></li>
				<li><a href="#3">Which types of federal student loans qualify for PSLF?</a></li>
				<li><a href="#4">What is a qualifying monthly payment?</a></li>
				<li><a href="#5">What is a qualifying repayment plan?</a></li>
				<li><a href="#6">How do I know I’m on the right track to receive PSLF?</a></li>
				<li><a href="#7">Will I automatically receive PSLF after I’ve made 120 qualifying monthly payment?</a></li>
	    </div>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8">
			<div class="pad50"></div>
	  	<div class="about-second-header">
	  		<strong><a name="1">What is qualifying employment?</a></strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	Qualifying employment for the PSLF Program is not about the specific job that you do for your employer. Rather, it is about who your employer is. Employment with the following types of organizations qualifies for PSLF:
	    	<br><br>
				<li>Government organizations at any level (federal, state, local, or tribal)</li>
				<li>Not-for-profit organizations that are tax-exempt under Section 501(c)(3) of the Internal Revenue Code</li>
				<li>Other types of not-for-profit organizations that provide certain types of qualifying public services</li>
				<li>Serving in a full-time AmeriCorps or Peace Corps position also counts as qualifying employment for the PSLF Program.</li>
				<br>
				The following types of employers do not qualify for PSLF:
				<br><br>
				<li>Labor unions</li>
				<li>Partisan political organizations</li>
				<li>For-profit organizations</li>
				<li>Non-profit organizations that are not tax-exempt under Section 501(c)(3) of the Internal Revenue Code and that do not provide a qualifying service</li>
	    </div>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8">
			<div class="pad40"></div>
	  	<div class="about-second-header">
	  		<strong><a name="2">What is considered full-time employment?</a></strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	For PSLF, you are generally considered to work full-time if you meet your employer’s definition of full-time or work at least 30 hours per week, whichever is greater.
	    	<br><br>
				If you are employed in more than one qualifying part-time job at the same time, you may meet the full-time employment requirement if you work a combined average of at least 30 hours per week with your employers.
				<br><br>
				For borrowers who are employed by not-for-profit organizations, time spent on religious instruction, worship services, or any form of proselytizing may not be counted toward meeting the full-time employment requirement.
	    </div>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8">
			<div class="pad40"></div>
	  	<div class="about-second-header">
	  		<strong><a name="3">Which types of federal student loans qualify for PSLF?</a></strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	A qualifying loan for PSLF is any loan you received under the William D. Ford Federal Direct Loan (Direct Loan) Program.
	    	<br><br>
				You may have received loans under other federal student loan programs, such as the Federal Family Education Loan (FFEL) Program or the Federal Perkins Loan (Perkins Loan) Program. Loans from these programs do not qualify for PSLF, but they may become eligible if you consolidate them into a Direct Consolidation Loan. However, only qualifying payments that you make on the new Direct Consolidation Loan can be counted toward the 120 payments required for PSLF. Any payments you made on the FFEL Program loans or Perkins Loans before you consolidated them don’t count.
				<br><br>
				If you have both Direct Loans and other types of federal student loans that you want to consolidate to take advantage of PSLF, it’s important to understand that if you consolidate your existing Direct Loans with the other loans, you will lose credit for any qualifying PSLF payments you made on your Direct Loans before they were consolidated. In this situation, you may want to leave your existing Direct Loans out of the consolidation and consolidate only your other federal student loans.
				<br><br>
				If you don’t know which types of federal student loans you have, log in to My Federal Student Aid to get that information. Generally, if you see a loan type with “Direct” in the name on My Federal Student Aid, then it is a Direct Loan; otherwise, it is a loan made under another federal student loan program.
	    </div>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8">
			<div class="pad40"></div>
	  	<div class="about-second-header">
	  		<strong><a name="4">What is a qualifying monthly payment?</a></strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	A qualifying monthly payment is a payment that you make
	    	<br><br>
				<li>after October 1, 2007;</li>
				<li>under a qualifying repayment plan;</li>
				<li>for the full amount due as shown on your bill;</li>
				<li>no later than 15 days after your due date; and</li>
				<li>while you are employed full-time by a qualifying employer.</li>
				<br>
				You can make qualifying monthly payments only during periods when you are required to make a payment. Therefore, you cannot make a qualifying monthly payment while your loans are in
				<br><br>
				<li>an in-school status,</li>
				<li>the grace period,</li>
				<li>a deferment,</li>
				<li>a forbearance, or</li>
				<li>default.</li>
				<br>
				Your 120 qualifying monthly payments do not need to be consecutive.
				<br><br>
				If you make a monthly payment for more than the amount you are required to pay, you should keep in mind that you can receive credit for only one payment per month, no matter how much you pay. You can’t qualify for PSLF faster by making larger payments.However, if you do want to pay more than your required monthly payment amount, you should contact your servicer and ask that the extra amount not be applied to cover future payments. Otherwise, you may end up being paid ahead, and you can’t receive credit for a qualifying PSLF payment during a month when no payment is due.
				<br><br>
				There are special rules that allow borrowers who are AmeriCorps or Peace Corps volunteers to use their Segal Education Award or Peace Corps transition payment to make a single “lump sum” payment that may count for up to 12 qualifying PSLF payments.
				<br><br>
				The best way to ensure that you are making qualifying payments is to sign up for automatic debit with your loan servicer. 
	    </div>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8">
			<div class="pad40"></div>
	  	<div class="about-second-header">
	  		<strong><a name="5">What is a qualifying repayment plan?</a></strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	Qualifying repayment plans include all of the income-driven repayment plans (plans that base your monthly payment on your income) and the 10-year Standard Repayment Plan.
	    	<br><br>
				Even though the 10-year Standard Repayment Plan is a qualifying repayment plan for PSLF, you will not receive PSLF unless you make the majority of your 120 qualifying monthly payments under an income-driven repayment plan. If you are in repayment on the 10-year Standard Repayment Plan during the entire time you are working toward PSLF, you will have no remaining balance left to forgive after you have made 120 qualifying PSLF payments. Therefore, if you are seeking PSLF and are not already repaying under an income-driven repayment plan, you should change to an income-driven repayment plan as soon as possible.
				<br><br>
				Be sure to read about the pros and cons of income-driven repayment plans before deciding to repay your federal student loans using those plans.
	    </div>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8">
			<div class="pad40"></div>
	  	<div class="about-second-header">
	  		<strong><a name="6">How do I know I’m on the right track to receive PSLF?</a></strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	Because you have to make 120 qualifying monthly payments, it will take at least 10 years for you to become eligible for PSLF. To help you determine if you are on the right track as early as possible, we have created an Employment Certification for Public Service Loan Forgiveness form (Employment Certification form) that you can submit periodically while you are working toward meeting the PSLF eligibility requirements. We will use the information you provide on the form to let you know if you are making qualifying PSLF payments.
	    	<br><br>
				Although you are not required to do so, we encourage you to submit the Employment Certification form annually or whenever you change jobs, so that we can help you track your progress toward meeting the PSLF eligibility requirements. If you do not periodically submit the form, then at the time you apply for forgiveness you will be required to submit an Employment Certification form for each employer where you worked while making the required 120 qualifying monthly payments.
				<br><br>
				If you would like us to track your progress as you work toward making the 120 qualifying monthly payments for PSLF, send the completed form, with your employer’s certification, to FedLoan Servicing (PHEAA), the U.S. Department of Education’s federal loan servicer for the PSLF Program.
				<br><br>
				We will take the following actions after we receive your Employment Certification form:
				<br><br>
				<li>We will review your Employment Certification form to ensure that it is complete, and to determine whether your employment is qualifying employment for the PSLF Program.</li>
				<li>We will notify you if the form you submitted is incomplete or if we cannot determine, based on the information provided on the form, whether your employment qualifies. We may ask you to provide additional information or documentation to help us determine whether you were employed by a qualifying public service organization.</li>
				<li>If we determine that your employer is not an eligible public service organization, we will notify you that your employment does not qualify. If you believe there is additional information that would establish the eligibility of your employer, you will have the opportunity to provide that information.</li>
				<li>If we determine that your employment qualifies, and if some or all of your federal student loans that are owned by the U.S. Department of Education are not already serviced by FedLoan Servicing (PHEAA), those loans will be transferred to FedLoan Servicing (PHEAA). You will then have a single federal loan servicer for all of your federally held loans. You will receive a notice if your loans are transferred.</li>
				<li>If we determine that your employment qualifies, we will then review your payment history (including any payments you made to another federal loan servicer before your loans were transferred) to determine how many payments made during the period of employment certified on the Employment Certification form are qualifying monthly payments for PSLF. We will then inform you that your employment qualifies and notify you of the total number of qualifying payments you have made, and how many payments you must still make before you can qualify for PSLF.</li>
	    </div>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8">
			<div class="pad40"></div>
	  	<div class="about-second-header">
	  		<strong><a name="7">Will I automatically receive PSLF after I’ve made 120 qualifying monthly payments?</a></strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="about-text-explanation">
	    	No. After you make your 120th qualifying monthly payment, you will need to submit the PSLF application to receive loan forgiveness. The application is under development and will be available prior to October 2017, the date when the first borrowers will become eligible for PSLF. You must be working for a qualified public service organization at the time you submit the application for forgiveness and at the time the remaining balance on your loan is forgiven. 
	    	<br>
	    	<br>
				Note that loan amounts forgiven under the PSLF Program are not considered income by the Internal Revenue Service. Therefore, you will not have to pay federal income tax on the amount of your Direct Loans that is forgiven after you have made the 120 qualifying payments.
				<br>
				<br>
				We look forward to working with you while you learn more about PSLF and work toward your goal of making 120 qualifying payments. If you have any more questions, look at the PSLF fact sheet and the PSLF Q&A document or contact your federal loan servicer. If you don’t know the loan servicer for your federal student loans, visit My Federal Student Aid.
	    </div>
	  </div>
	</div>
</div>
<div class="pad40"></div>
<div class="landing-btn-pad text-center">
  <% if user_signed_in? %>
  	<% if current_user.profile == nil %>
      <%= link_to "Let's Get Started!", new_profile_path, class: "btn btn-primary btn-lg" %>
    <% else %>
    	<%= link_to "My Dashboard", profiles_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  <% else %>
    <%= link_to "LOG IN", new_user_session_path, class: "btn btn-default btn-lg" %>
	  <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
<div class="pad40"></div>

