<div class="jumbotron about">
	<div class="container">
	  <div class="text-center">
	  	<div class="pad40"></div>
	    <h1>About Public Service Loan Forgiveness (PSLF)</h1>
	  </div>
	</div>
</div>
<div class="container">
  <div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<div class="pad20"></div>
	  	<div class="landing-jumbo-text">
				<strong>Overview</strong>
	  	</div>
	  	<div class="pad10"></div>
	    <div class="text-explanation-profile">The Public Service Loan Forgiveness (PSLF) Program forgives the remaining balance on your Direct Loans after you have made 120 qualifying monthly payments under a qualifying repayment plan while working full-time for a qualifying employer.</div>
	  </div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<div class="pad30"></div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<div class="pad20"></div>
					<span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				  <div class="landing-jumbo-text2 pad5">
				  	<strong>Helpful Forms</strong></h1>
				  </div>
			    <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-employment-certification-form.pdf", target= "_blank">PSLF Employment Certification Form</a>
			  	</br>
			    <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-loan-forgiveness.pdf", target= "_blank">PSLF Program fact sheet</a>
			   	</br>
			    <a href="https://studentaid.ed.gov/sa/sites/default/files/public-service-loan-forgiveness-common-questions.pdf", target= "_blank">PSLF Program Q&As</a>
			  </div>
		  </div>
		</div>
	</div>
  <div class="pad80"></div>
  <div class="text-center">
  </div>
  <div class="pad60"></div>
</div>