<h1>Eligibility</h1>
<p>We’ll start by verifying your employer, 
then we’ll check your loan portfolio, 
suggesting any necessary adjustments.</p>

<h2>Employment</h2>
<p>Select the label that best represents your current employer.</p>

<p> employment form </p>

<h2>Loans</h2>
<p>Sync your loan portfolio with your federal FSA ID</p>

<p> Loans form </p>


<p> Check My Eligibility </p>