<div class="container">
		<div class="jumbotron app center">
			<h1>Eligibility</h1>
				<p>We’ll start by verifying your employer, then we’ll check your loan portfolio, suggesting any necessary adjustments.</p>
			<div class="container">
				<div class="row">
					<div class="explanation center">
						<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
							<h2>1. Employment</h2>
							<p>Select the label that best represents your current employer.</p>
							<div class="dropdown center">
					  		<button class="form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    		Employment Type
					    		<span class="caret"></span>
					  		</button> 
					  		<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    	<%= f.select(:employment, options_for_select([['Government (fed, state, or local)', 'Government (fed, state, or local)'], ['Not-for-profit (Section 501(c)(3))', 'Not-for-profit (Section 501(c)(3))'], ['AmeriCorps or Peace Corps', 'AmeriCorps or Peace Corps'], ['Other qualifying public services', 'Other qualifying public services'], ['None of the above', 'None of the above']])) %>
						    </div>
					  	</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="explanation center">
						<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
							<h2>2. Loans</h2>
							<p>Sync your loan portfolio with your federal FSA ID</p>
							<div class="dropdown center">
					  		<button class="form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    		Loan Type
					    		<span class="caret"></span>
					  		</button>
					  		<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					    		<%= f.select(:loans, options_for_select([['Federal', 'Federal'], ['Private', 'Private'], ['Both', 'Both'], ["I don't know", "I don't know"]])) %>
					  		</div>
					  	</div>
					  	<div class="dropdown center">
					  		<button class="form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    		Total Federal Loan Amount
					    		<span class="caret"></span>
					  		</button>
					  		<div class="dropdown-menu" aria-labelledby="dropdownMenu3">
					    		<%= f.select(:amount, options_for_select([['$0-$5,000', '$0-$5,000'], ['$5,001-$15,000', '$5,001-$15,000'], ['$15,001-$30,000', '$15,001-$30,000'], ["$30,001-$50,000", "$30,001-$50,000"], ["$50,001-$75,000", "$50,001-$75,000"], ["$75,001-$100,000", "$75,001-$100,000"], ["$100,001+", "$100,001+"]])) %>
					  		</div>
					  	</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="pad25"></div>
			<div class="CTA">
				<p><%= f.submit "Check My Eligibility", class: "btn btn-primary btn-lg" %></p>
			</div>
		</div>
	<% end %>
</div>