<div class="jumbotron center">
	<h1>Work in public service? <br> Get your student loans forgiven.</h1>
	<br>
	<h4>Determine your eligibility then track your Public Service Loan Forgiveness (PSLF) benefit.</h4>
	<br>
	<br>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>