<div class="jumbotron center">
	<h1>Welcome!</h1>
	<p>We can’t wait to help you realize your Public Service Loan Forgiveness (PSLF) benefit. We’re going to cover…</p>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <div class="caption">
        <h2>Eligibility</h2>
        <p>Quickly determine if you’re loans, employment, and payments make you eligible for PSLF.</p>
      </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <div class="caption">
        <h2>Forms</h2>
        <p>Access and store the necessary PSLF paperwork all in one convenient location…your phone!</p>
      </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <div class="caption">
        <h2>Track and Submit</h2>
        <p>Review, track, and ultimately submit for Public Service Loan Forgiveness.</p>
      </div>
	  </div>
	</div>
	<div class="top-space">
		<%= link_to "Check My Eligibility", eligibility_path , class: "btn btn-primary btn-lg" %>
	</div>
</div>