<div class="jumbotron center">
	<h1>Welcome!</h1>
	<p>We can’t wait to help you realize your Public Service Loan Forgiveness (PSLF) benefit. We’re going to cover…</p>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	      <div class="caption">
	        <h3>Eligibility</h3>
	        <p>Quickly determine if you’re loans, employment, and payments make you eligible for PSLF.</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	      <div class="caption">
	        <h3>Forms</h3>
	        <p>Access and store the necessary PSLF paperwork all in one convenient location…your phone!</p>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	      <div class="caption">
	        <h3>Track and Submit</h3>
	        <p>Review, track, and ultimately submit for Public Service Loan Forgiveness.</p>
	      </div>
	    </div>
	  </div>
	</div>
	<p>
		<%= link_to "Check My Eligibility", eligibility_path , class: "btn btn-primary btn-lg" %>
	</p>
</div>